In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (0.1.70)
Requirement already satisfied: lxml>=4.5.1 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (1.4.2)
Requirement already satisfied: numpy>=1.15 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (1.21.2)
Requirement already satisfied: pytz>=2020.1 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2019.6.16)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.25.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.8)
Requirement already satisfied: six>=1.5 in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)

In [11]:
!pip install datetime

Collecting datetime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.7/51.7 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: pytz in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from datetime) (2021.1)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp39-cp39-macosx_10_14_x86_64.whl (208 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 208.5/208.5 kB 3.5 MB/s eta 0:00:0000:01
Requirement already satisfied: setuptools in /Users/pulkitjindal/opt/miniconda3/lib/python3.9/site-packages (from zope.interface->datetime) (51.0.0.post20201207)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.4 zope.interface-5.4.0

In [13]:
import bs4 as bs
import requests 
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import yfinance as yf
import sqlalchemy 
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [17]:
tickersSensex = pd.read_html('https://en.wikipedia.org/wiki/BSE_SENSEX')[1].Symbol.to_list()

In [18]:
tickersSensex

['ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJAJ-AUTO.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'DRREDDY.BO',
 'HCLTECH.BO',
 'HDFC.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'ONGC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO']

In [49]:
engine = sqlalchemy.create_engine('sqlite:///India.db')

In [56]:
for symbol in  tickersSensex:
    data = yf.download(symbol ,start="2020-01-01", end="2021-01-01").reset_index()
    data.to_sql(symbol, engine , index = False)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [59]:
pd.read_sql('SELECT * FROM "ASIANPAINT.BO"' , engine )

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-01 00:00:00.000000,1790.150024,1803.000000,1785.000000,1793.750000,1771.409912,32156
1,2020-01-02 00:00:00.000000,1790.599976,1800.000000,1785.000000,1790.250000,1767.953613,22940
2,2020-01-03 00:00:00.000000,1788.000000,1788.000000,1747.250000,1751.650024,1729.834351,26202
3,2020-01-06 00:00:00.000000,1744.900024,1744.900024,1694.000000,1707.500000,1686.234253,68842
4,2020-01-07 00:00:00.000000,1708.300049,1740.800049,1708.300049,1723.900024,1702.429932,20856
...,...,...,...,...,...,...,...
246,2020-12-24 00:00:00.000000,2646.250000,2656.250000,2613.100098,2649.350098,2633.191895,62540
247,2020-12-28 00:00:00.000000,2649.350098,2688.000000,2629.600098,2683.649902,2667.282471,50949
248,2020-12-29 00:00:00.000000,2685.100098,2712.500000,2673.800049,2696.350098,2679.905273,42410
249,2020-12-30 00:00:00.000000,2698.699951,2740.899902,2680.449951,2733.550049,2716.878174,44155
250,2020-12-31 00:00:00.000000,2736.800049,2771.500000,2725.600098,2764.449951,2747.589844,33405